{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>I'm a full stack web developer with 5 years of experience, results oriented, with excellent
                    communication skills and deep knowledge of web and android development tools.

                    Lately I have been working with Development, elaboration, structuring, architecture, maintenance of
                    front-end and back-end projects for web applications developed with Angular 6+ framework (or higher)
                    and Spring Boot or Django Rest Framework.</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="{% static 'assets/img/person.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Full Stack Web Developer.</h3>
                    <p class="fst-italic">
                        Full Stack Developer 👨‍💻 Django | SpringBoot | Angular | React | NodeJS
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                                    <span>1 Jan 1995</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>LinkedIn:</strong>
                                    <span><a href="https://www.linkedin.com/in/caiomarinho/">Profile</a> </span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                                    <span>+55 83 9 9177-3034</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong>
                                    <span>Campina Grande,PB,BR</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span id="age"></span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor in Computer Science</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>caiomarinho8@gmail.com</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                                    <span>Available</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Nowadays I'm working on developing web applications focused on Data Science, using Django Rest
                        Framework on the Backend along with a series of technologies like Redis Stack, Celery, OAuth2,
                        JWT Token, and the frontend built with Angular.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
        <div class="container">

            <div class="section-title">
                <h2>Facts</h2>
                <p>During my career I have worked with different operating systems and with different technology stacks.
                    I performed the implementation of mobile applications with JqueryMobile, Phonegap, and also natively
                    with the Java language for Android applications, as well as using ReactJS, ReactNative and Redux or
                    Ionic React, for the development of Android applications as well.</p>
                <br/>
                <p>In web systems development, I've been working on the backend with frameworks like Spring Boot (Java)
                    and Django (Python), and on the frontend with ReactJS and Angular, in their most different
                    versions.</p>
                <br/>
                <p>Many projects were hidden due to signatures of NDA (Non-Disclosure Agreement) Non-Disclosure
                    Agreement documents. Under these terms, a contract was made to prevent the disclosure of sensitive
                    and confidential information, such as business strategy, client list, technologies developed,
                    prototypes and marketing materials, so these projects were not included in the portfolio.</p>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Happy Clients</strong> statisfied customers</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="45" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Projects</strong> developed or under development.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="bi bi-laptop"></i>
                        <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Web Applications</strong> developed</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="count-box">
                        <i class="bi bi-phone"></i>
                        <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p><strong>Mobile Apps</strong> developed</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Skills</h2>
                <p>My skills are very diverse, due to the participation of numerous projects with different lines of
                    development, thus, I obtained the following skills:</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">Angular <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">ReactJS <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">VueJS <i class="val">30%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Jquery <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">Django <i class="val">99%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Django Rest Framework <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Spring Boot <i class="val">85%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Spring Boot <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>
            <hr/>
            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">Ionic <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Android (Java) <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Kotlin <i class="val">25%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Cordova Apache/Phonegap <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">Python <i class="val">89%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="89" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Java <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">C/C++ <i class="val">65%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Lua <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
                <p>Below I put a brief description of my resume and tell a little about my professional experience as a
                    software developer.</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Caio Marinho</h4>
                        <p><em>Innovative, deadline-oriented web developer with over 5 years of experience designing and
                            developing user-centric web systems/applications, collaborating from initial concept to
                            final delivery.
                        </em></p>
                        <ul>
                            <li>Rua Maria da Guia Muniz
                                Albuquerque, 541,
                                Campina Grande, PB - Brazil
                            </li>
                            <li>+55 83 9 91773034</li>
                            <li>caiomarinho8@gmail.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Postgraduate Latu Sensu in Full Stack Web Development</h4>
                        <h5>May 2022 - Jun 2023</h5>
                        <p><em>Pontifícia Universidade Católica de Minas Gerais, MG, Brazil</em></p>
                        <p>I took the Specialization course in Full Stack Web Development that trains developers in the
                            main methodologies, languages and frameworks for software development today, with great
                            depth and everything from the beginning. The course is based on the best practices of modern
                            web application development, presenting Front End technologies such as React and React
                            Native, as well as a view of the frameworks consolidated in the Back End environment that
                            allow the creation of robust APIs based on RESTful Web Services.</p>
                    </div>
                    <div class="resume-item">
                        <h4>Machine Learning Scientist</h4>
                        <h5>Jan 2021 - Mar 2021</h5>
                        <p><em>DataCamp Inc., NY</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Data Analyst with Python Track</h4>
                        <h5>Nov 2020 - Jan 2021</h5>
                        <p><em>DataCamp Inc., NY</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>English Certificate 63/100 (C1 Advanced Proficient)</h4>
                        <h5>Sep 2020</h5>
                        <p><em>EF SET (Standard English Test), SP, Brazil</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Bachelor in Computer Science</h4>
                        <h5>Jan 2013 - Dez 2017</h5>
                        <p><em>Federal University of Campina Grande, Brazil</em></p>
                        <p>During this graduation period I worked as an intern at the Embedded Lab, developing
                            applications for SmartTV in Lua and C/C++ in partnership projects with Envision
                            (TPV-Tech)</p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Full Stack Web Developer</h4>
                        <h5>jan 2021 - to present</h5>
                        <p><em>VIRTUS · Full-time</em></p>
                        <p><em>Campina Grande, Paraíba, BR</em></p>
                        <p>Nowadays I'm working with the following roles:</p>
                        <ul>
                            <li>Web development using Angular and Django Rest Framework in partnership with Ericsson.
                            </li>
                            <li>Project documentation.
                            </li>
                            <li>Business Model Analysis.
                            </li>
                            <li>Participated in highly complex projects with customers, managers and end-users.
                            </li>
                            <li>Built, tested and deployed scalable, highly available and modular software products.
                            </li>
                        </ul>
                        <p>
                            Development, elaboration, structuring, architecture, maintenance of front-end and back-end
                            projects, which are web applications developed with Angular framework using Typescript,
                            Javascript, HTML5, SCSS and Django Rest framework.
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Junior Web Developer</h4>
                        <h5>abr 2018 - jan 2021 · 2 years 10m</h5>
                        <p><em>VIRTUS · Full-time</em></p>
                        <p><em>Campina Grande, Paraíba, BR</em></p>
                        <p>
                            This was my first experience with Software Development, and as a Junior I worked with the
                            following roles:
                        </p>
                        <ul>
                            <li>Development of Web Tools using Angular 7 and Spring Framework in partnership with
                                Ericsson.
                            </li>
                            <li>Development of data analysis reports with R and Python.</li>
                            <li>Collaborated with project managers to select ambitious, but realistic coding milestones
                                on pre-release software project development.
                            </li>
                            <li>Revised, modularized and updated old code bases to modern development standards,
                                reducing operating costs and improving functionality.
                            </li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Software Developer</h4>
                        <h5>feb of 2014 - apr of 2018 · 4 years 3m</h5>
                        <p><em>Embedded Lab, UFCG · Internship</em></p>
                        <p><em>Campina Grande, Paraíba, BR</em></p>
                        <p>
                            During my entire internship program, I participated in the following roles:
                        </p>
                        <ul>
                            <li>Development of applications for SmartTV in Lua and C++ in partnership projects with
                                Envision TPV Tech.
                            </li>
                            <li>Development of mobile applications for Android with Java language.</li>
                            <li>Development of web applications focused on Geoprocessing and Georeferencing using
                                frameworks such as Django in Python language.
                            </li>
                            <li>Quality Test.
                            </li>
                            <li>
                                Coordinated with project management staff on database development timelines and project
                                scope.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
{#    <section id="portfolio" class="portfolio section-bg">#}
{#        <div class="container">#}
{##}
{#            <div class="section-title">#}
{#                <h2>Portfolio</h2>#}
{#                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint#}
{#                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia#}
{#                    fugiat sit in iste officiis commodi quidem hic quas.</p>#}
{#            </div>#}
{##}
{#            <div class="row" data-aos="fade-up">#}
{#                <div class="col-lg-12 d-flex justify-content-center">#}
{#                    <ul id="portfolio-flters">#}
{#                        <li data-filter="*" class="filter-active">All</li>#}
{#                        <li data-filter=".filter-app">App</li>#}
{#                        <li data-filter=".filter-card">Card</li>#}
{#                        <li data-filter=".filter-web">Web</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">#}
{##}
{#                <div class="col-lg-4 col-md-6 portfolio-item filter-app">#}
{#                    <div class="portfolio-wrap">#}
{#                        <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">#}
{#                        <div class="portfolio-links">#}
{#                            <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}"#}
{#                               data-gallery="portfolioGallery"#}
{#                               class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>#}
{#                            <a href="" title="More Details"><i class="bx bx-link"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 portfolio-item filter-web">#}
{#                    <div class="portfolio-wrap">#}
{#                        <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">#}
{#                        <div class="portfolio-links">#}
{#                            <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}"#}
{#                               data-gallery="portfolioGallery"#}
{#                               class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>#}
{#                            <a href="" title="More Details"><i class="bx bx-link"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 portfolio-item filter-app">#}
{#                    <div class="portfolio-wrap">#}
{#                        <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">#}
{#                        <div class="portfolio-links">#}
{#                            <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}"#}
{#                               data-gallery="portfolioGallery"#}
{#                               class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>#}
{#                            <a href="" title="More Details"><i class="bx bx-link"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 portfolio-item filter-card">#}
{#                    <div class="portfolio-wrap">#}
{#                        <img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">#}
{#                        <div class="portfolio-links">#}
{#                            <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}"#}
{#                               data-gallery="portfolioGallery"#}
{#                               class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>#}
{#                            <a href="" title="More Details"><i class="bx bx-link"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 portfolio-item filter-web">#}
{#                    <div class="portfolio-wrap">#}
{#                        <img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">#}
{#                        <div class="portfolio-links">#}
{#                            <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}"#}
{#                               data-gallery="portfolioGallery"#}
{#                               class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>#}
{#                            <a href="" title="More Details"><i class="bx bx-link"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 portfolio-item filter-app">#}
{#                    <div class="portfolio-wrap">#}
{#                        <img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">#}
{#                        <div class="portfolio-links">#}
{#                            <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}"#}
{#                               data-gallery="portfolioGallery"#}
{#                               class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>#}
{#                            <a href="" title="More Details"><i class="bx bx-link"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 portfolio-item filter-card">#}
{#                    <div class="portfolio-wrap">#}
{#                        <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">#}
{#                        <div class="portfolio-links">#}
{#                            <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}"#}
{#                               data-gallery="portfolioGallery"#}
{#                               class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>#}
{#                            <a href="" title="More Details"><i class="bx bx-link"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 portfolio-item filter-card">#}
{#                    <div class="portfolio-wrap">#}
{#                        <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">#}
{#                        <div class="portfolio-links">#}
{#                            <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}"#}
{#                               data-gallery="portfolioGallery"#}
{#                               class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>#}
{#                            <a href="details.html" title="More Details"><i class="bx bx-link"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-4 col-md-6 portfolio-item filter-web">#}
{#                    <div class="portfolio-wrap">#}
{#                        <img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">#}
{#                        <div class="portfolio-links">#}
{#                            <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}"#}
{#                               data-gallery="portfolioGallery"#}
{#                               class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>#}
{#                            <a href="" title="More Details"><i class="bx bx-link"></i></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </section><!-- End Portfolio Section -->#}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Below are my most used social networks and my contact for communication. Follow me there on the
                    networks and so we can "exchange stickers", and, who knows, change the world together.</p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Rua Maria da Guia Muniz Albuquerque, 541, Serrotão, Campina Grande, BR</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>caiomarinho8@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+55 83 991773034</p>
                        </div>
                        <div class="phone">
                            <i class="bi bi-linkedin"></i>
                            <h4>Linkedin:</h4>
                            <p>
                                <a href="https://www.linkedin.com/in/caiomarinho/"
                                   target="_blank" class="btn btn-info">Link</a>
                            </p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-facebook"></i>
                            <h4>Facebook:</h4>
                            <p>
                                <a href="https://www.facebook.com/caio.fabiomarinho" target="_blank"
                                   class="btn btn-primary">Link</a>
                            </p>
                        </div>


                        <div class="phone">
                            <i class="bi bi-whatsapp"></i>
                            <h4>Whatsapp:</h4>
                            <p>
                                <a href="https://wa.me/5583991773034"
                                   target="_blank" class="btn btn-secondary">Link</a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <div class="php-email-form">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7690.71979486299!2d-35.927616360674456!3d-7.2365794448706895!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7aea0ba28fbddd5%3A0xa0c3b269c9717cd9!2sResidencial%20Mirante%20da%20Serra!5e0!3m2!1spt-BR!2sbr!4v1657907140408!5m2!1spt-BR!2sbr"
                                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

    <script>

        $(document).ready(function () {
            $('#age').text(parseInt(new Date().getFullYear()) - parseInt(1995));
        });
    </script>
{% endblock %}