beautifulsoup4
cryptography
dj-database-url
Django
django-cors-headers
django-extensions
django-js-asset
gunicorn
psycopg2-binary
pytz
PyYAML
requests
six
whitenoise
django-rest-auth[with_social]
djangorestframework
markdown
django-filter
django-datatables-view
Pillow
pyimgur
