
${model_prefix}_PREFIX = "${model_prefix}"

${model_prefix}_VERBOSE_NAME = _("${model_name}")
${model_prefix}_VERBOSE_NAME_PLURAL = _("${model_name}")

${model_prefix}_LIST_URL_NAME = ${model_prefix}_PREFIX + LIST_SUFFIX
${model_prefix}_CREATE_URL_NAME = ${model_prefix}_PREFIX + CREATE_SUFFIX
${model_prefix}_DETAIL_URL_NAME = ${model_prefix}_PREFIX + DETAIL_SUFFIX
${model_prefix}_UPDATE_URL_NAME = ${model_prefix}_PREFIX + UPDATE_SUFFIX
${model_prefix}_DELETE_URL_NAME = ${model_prefix}_PREFIX + DELETE_SUFFIX
${model_prefix}_LIST_JSON_URL_NAME = ${model_prefix}_PREFIX + '_list_json'

