

class ${model_name}Form(BaseForm, ModelForm):
    class Meta:
        model = models.${model_name}
        fields = ${list_display_form}
        widgets = generate_bootstrap_widgets_for_all_fields(models.${model_name})

    def __init__(self, *args, **kwargs):
        super(${model_name}Form, self).__init__(*args, **kwargs)


class ${model_name}FormToInline(BaseForm, ModelForm):
    class Meta:
        model = models.${model_name}
        fields = ${list_display}
        widgets = generate_bootstrap_widgets_for_all_fields(models.${model_name})

    def __init__(self, *args, **kwargs):
        super(${model_name}FormToInline, self).__init__(*args, **kwargs)

