${url_pattern}_router = DefaultRouter()

${url_pattern}_router.register(
    r'^api/${url_pattern}',
    viewsets.${model_name}ViewSet,
    basename="${url_pattern}"
)

api_urlpatterns += ${url_pattern}_router.urls
