{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Caio Marinho - Personal Website</title>
    <meta content="Hello, I'm Caio, and I can help you by building with quality everything you plan, making your
    products and services public on the internet, and creating ways to win new customers for you or your company."
          name="description">
    <meta content="" name="keywords">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="freelancer, criador de site, sites online, lojas online campina grande, campina grande desenvolvedor,
          desenvolvedor, desenvolvedor multiplataforma, desenvolvedor de sites, desenvolvedor em campina grande,
          campina grande sites,freelancer, website builder, online sites, online stores campina grande, campina grande developer,
           developer, multiplatform developer, website developer, developer in campina grande,
           campina grande sites">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <style>
        #hero {
            width: 100%;
            height: 100vh;
            background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('{% static 'assets/img/water-bg(1).jpg' %}') top center;
            background-size: cover;
        }
    </style>

</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{% static 'assets/img/person.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="">Caio Marinho</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://github.com/caiomarinhodev" class="github" target="_blank"><i class="bx bxl-github"></i></a>
                <a href="https://www.facebook.com/caio.fabiomarinho" class="facebook" target="_blank"><i
                        class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/caio.marinh/" class="instagram" target="_blank"><i
                        class="bx bxl-instagram"></i></a>
                <a href="mailto:caiomarinho.dev@outlook.com"><i class="bx bxl-skype" target="_blank"></i></a>
                <a href="https://www.linkedin.com/in/caiomarinho/" class="linkedin" target="_blank"><i
                        class="bx bxl-linkedin"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
                </li>
{#                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>#}
{#                    <span>Portfolio</span></a></li>#}
                {#                <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a>#}
                </li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Caio Marinho</h1>
        <p>I'm <span class="typed"
                     data-typed-items="Full Stack, Software Developer, Backend Dev, Frontend Dev, Developer"></span></p>
    </div>
</section><!-- End Hero -->

<main id="main">
    {% block content %}
        {% include 'loading.html' %}
    {% endblock %}


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            <span id="year"></span> &copy; Copyright <strong><span>Caio Marinho</span></strong>
        </div>
        <div class="credits">
            Designed by <a href="#">Caio Marinho</a>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#year').text(new Date().getFullYear());
    });
</script>
</body>

</html>